* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(12, 12, 12);
}

.container {
    padding: 30px 0;
    width: 90%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.158);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

img {
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
}

input {
    width: 60%;
    padding: 5px;
    border: none;
    margin: 5px;
    color: black;
}

.link {
    color: whitesmoke;
    text-decoration: none;
}